absl-py==0.8.1
aiohttp==3.6.2
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.2.1
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
base58==2.0.1
bcrypt==3.1.7
beautifulsoup4==4.8.0
bleach==3.1.0
blinker==1.4
bokeh==2.0.2
boto3==1.14.60
botocore==1.17.60
bs4==0.0.1
cachetools==4.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
configparser==5.0.0
confuse==1.0.0
crayons==0.3.1
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
cymysql==0.9.4
dask==2.22.0
dataprep==0.2.12
decorator==4.4.0
defusedxml==0.6.0
distributed==2.24.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
fake-useragent==0.1.11
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.23.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.4.0
fsspec==0.8.0
future==0.17.1
fuzzywuzzy==0.17.0
gast==0.2.2
google-api-python-client==1.7.11
google-auth==1.7.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.13
grpcio==1.25.0
gurobipy==9.0.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.16.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
Inject==3.3.1
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==0.24
jedi==0.15.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.13.2
jsonpath-ng==1.5.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.2
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.29.0
locket==0.2.0
lxml==4.5.2
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==7.2.0
MouseInfo==0.0.4
msgpack==1.0.0
mss==4.0.3
multidict==4.7.6
multitasking==0.0.9
nbconvert==5.6.0
nbformat==4.4.0
nltk==3.5
notebook==6.0.1
numba==0.45.1
numpy==1.18.5
numpydoc==0.9.1
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.1.0
ortools==7.4.7247
packaging==19.2
pandas==1.0.5
pandas-profiling==2.3.0
pandocfilters==1.4.2
parse==1.14.0
parso==0.5.1
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.7.0
phik==0.9.8
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.13.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyAutoGUI==0.9.47
pycodestyle==2.5.0
pycparser==2.19
pydeck==0.5.0b1
pydot==1.4.1
pydotplus==2.0.2
pyee==6.0.0
pyflakes==2.1.1
PyGetWindow==0.0.7
Pygments==2.4.2
pygsheets==2.0.2
PyJWT==1.7.1
pylint==2.3.1
PyMsgBox==1.0.7
PyMySQL==0.9.3
pyobjc==5.2
pyobjc-core==5.2
pyobjc-framework-Accounts==5.2
pyobjc-framework-AddressBook==5.2
pyobjc-framework-AdSupport==5.2
pyobjc-framework-AppleScriptKit==5.2
pyobjc-framework-AppleScriptObjC==5.2
pyobjc-framework-ApplicationServices==5.2
pyobjc-framework-Automator==5.2
pyobjc-framework-AVFoundation==5.2
pyobjc-framework-AVKit==5.2
pyobjc-framework-BusinessChat==5.2
pyobjc-framework-CalendarStore==5.2
pyobjc-framework-CFNetwork==5.2
pyobjc-framework-CloudKit==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Collaboration==5.2
pyobjc-framework-ColorSync==5.2
pyobjc-framework-Contacts==5.2
pyobjc-framework-ContactsUI==5.2
pyobjc-framework-CoreAudio==5.2
pyobjc-framework-CoreAudioKit==5.2
pyobjc-framework-CoreBluetooth==5.2
pyobjc-framework-CoreData==5.2
pyobjc-framework-CoreLocation==5.2
pyobjc-framework-CoreMedia==5.2
pyobjc-framework-CoreMediaIO==5.2
pyobjc-framework-CoreML==5.2
pyobjc-framework-CoreServices==5.2
pyobjc-framework-CoreSpotlight==5.2
pyobjc-framework-CoreText==5.2
pyobjc-framework-CoreWLAN==5.2
pyobjc-framework-CryptoTokenKit==5.2
pyobjc-framework-DictionaryServices==5.2
pyobjc-framework-DiscRecording==5.2
pyobjc-framework-DiscRecordingUI==5.2
pyobjc-framework-DiskArbitration==5.2
pyobjc-framework-DVDPlayback==5.2
pyobjc-framework-EventKit==5.2
pyobjc-framework-ExceptionHandling==5.2
pyobjc-framework-ExternalAccessory==5.2
pyobjc-framework-FinderSync==5.2
pyobjc-framework-FSEvents==5.2
pyobjc-framework-GameCenter==5.2
pyobjc-framework-GameController==5.2
pyobjc-framework-GameKit==5.2
pyobjc-framework-GameplayKit==5.2
pyobjc-framework-ImageCaptureCore==5.2
pyobjc-framework-IMServicePlugIn==5.2
pyobjc-framework-InputMethodKit==5.2
pyobjc-framework-InstallerPlugins==5.2
pyobjc-framework-InstantMessage==5.2
pyobjc-framework-Intents==5.2
pyobjc-framework-IOSurface==5.2
pyobjc-framework-iTunesLibrary==5.2
pyobjc-framework-LatentSemanticMapping==5.2
pyobjc-framework-LaunchServices==5.2
pyobjc-framework-libdispatch==5.2
pyobjc-framework-LocalAuthentication==5.2
pyobjc-framework-MapKit==5.2
pyobjc-framework-MediaAccessibility==5.2
pyobjc-framework-MediaLibrary==5.2
pyobjc-framework-MediaPlayer==5.2
pyobjc-framework-MediaToolbox==5.2
pyobjc-framework-ModelIO==5.2
pyobjc-framework-MultipeerConnectivity==5.2
pyobjc-framework-NaturalLanguage==5.2
pyobjc-framework-NetFS==5.2
pyobjc-framework-Network==5.2
pyobjc-framework-NetworkExtension==5.2
pyobjc-framework-NotificationCenter==5.2
pyobjc-framework-OpenDirectory==5.2
pyobjc-framework-OSAKit==5.2
pyobjc-framework-Photos==5.2
pyobjc-framework-PhotosUI==5.2
pyobjc-framework-PreferencePanes==5.2
pyobjc-framework-PubSub==5.2
pyobjc-framework-QTKit==5.2
pyobjc-framework-Quartz==5.2
pyobjc-framework-SafariServices==5.2
pyobjc-framework-SceneKit==5.2
pyobjc-framework-ScreenSaver==5.2
pyobjc-framework-ScriptingBridge==5.2
pyobjc-framework-SearchKit==5.2
pyobjc-framework-Security==5.2
pyobjc-framework-SecurityFoundation==5.2
pyobjc-framework-SecurityInterface==5.2
pyobjc-framework-ServiceManagement==5.2
pyobjc-framework-Social==5.2
pyobjc-framework-SpriteKit==5.2
pyobjc-framework-StoreKit==5.2
pyobjc-framework-SyncServices==5.2
pyobjc-framework-SystemConfiguration==5.2
pyobjc-framework-UserNotifications==5.2
pyobjc-framework-VideoSubscriberAccount==5.2
pyobjc-framework-VideoToolbox==5.2
pyobjc-framework-Vision==5.2
pyobjc-framework-WebKit==5.2
pyparsing==2.4.2
pyperclip==1.7.0
pyppeteer==0.0.25
PyQt5==5.12.3
PyQt5-sip==4.19.19
PyQtWebEngine==5.12.1
pyquery==1.4.1
PyRect==0.1.4
pyrsistent==0.15.4
PyScreeze==0.1.22
pytest==5.2.0
pytest-pylint==0.14.1
python-dateutil==2.8.0
python-slugify==3.0.3
python-telegram-bot==12.1.1
PyTweening==1.0.3
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
regex==2020.7.14
requests==2.23.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rope==0.14.0
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.9.1
sortedcontainers==2.2.2
soupsieve==1.9.3
sparse-dot-topn==0.2.6
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.2.0
statsmodels==0.10.1
streamlit==0.66.0
tblib==1.7.0
telegram-send==0.24
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
toml==0.10.1
toolz==0.10.0
tornado==5.0.2
tqdm==4.48.2
traitlets==4.3.2
twitter-scraper==0.3.0
typed-ast==1.4.0
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.24.3
utils==1.0.1
validators==0.18.1
virtualenv==16.7.5
w3lib==1.21.0
watchdog==0.10.3
wcwidth==0.1.7
webdriver-manager==3.2.1
webencodings==0.5.1
websockets==8.1
Werkzeug==0.15.6
widgetsnbextension==3.5.1
wordcloud==1.7.0
wordninja==2.0.0
wrapt==1.11.2
wurlitzer==1.0.3
xgboost==0.90
xlrd==1.1.0
yarl==1.5.1
yfinance==0.1.52
zict==2.0.0
zipp==0.6.0
