import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle 
from nltk.tokenize import sent_tokenize, word_tokenize
import wordninja
import re
from nltk.stem import PorterStemmer

streamlit==0.66.0
pandas==1.0.5
pandas-profiling==2.3.0
numpy==1.18.5
numpydoc==0.9.1
matplotlib==3.1.1
pickleshare==0.7.5
cloudpickle==1.2.2
nltk==3.5
wordninja==2.0.0
regex==2020.7.14
